In [4]:
import pandas as pd

In [5]:
import seaborn as sns

In [6]:
import matplotlib.pyplot as plt

In [19]:
data = pd.read_csv('Housing.csv')

In [21]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [24]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [25]:
data.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [26]:
# Identificar variáveis quantitativas
quantitative_vars = data.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Variáveis Quantitativas:", quantitative_vars)

Variáveis Quantitativas: ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking']

In [31]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [32]:
# data = pd.DataFrame(columns=['price', 'area', 'bedrooms', 'bathrooms', 'stories',
#                           'mainroad', 'guestroom', 'basement', 'hotwaterheating',
#                          'airconditioning', 'parking', 'prefarea', 'furnishingstatus'])

In [33]:
#novos_nomes = {
#    'price': 'preço',
#    'area': 'área',
#    'bedrooms': 'quartos',
#    'bathrooms': 'banheiros',
#    'stories': 'andares',
#    'mainroad': 'via_principal',
#    'guestroom': 'quarto_de_hóspedes',
#    'basement': 'porão',
#    'hotwaterheating': 'aquecimento_agua',
#    'airconditioning': 'ar_condicionado',
#    'parking': 'estacionamento',
#    'prefarea': 'área_preferencial',
#    'furnishingstatus': 'status_mobiliado'}

In [35]:
data.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [36]:
data.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [37]:
quantitative_vars = data.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Variáveis Quantitativas:", quantitative_vars)

Variáveis Quantitativas: ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking']

In [38]:
qualitative_vars = data.select_dtypes(include=['object']).columns.tolist()
print("Variáveis Qualitativas:", qualitative_vars)

Variáveis Qualitativas: ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea', 'furnishingstatus']

In [39]:
variaveis = quantitative_vars + qualitative_vars
tipos = ['Quantitativa'] * len(quantitative_vars) + ['Qualitativa'] * len(qualitative_vars)

# Encontrar o comprimento máximo para alinhamento
max_var_length = max([len(var) for var in variaveis])
max_type_length = max([len(tipo) for tipo in tipos])

# Criar a tabela formatada
tabela_markdown = f"| {'Variável'.ljust(max_var_length)} | {'Tipo'.ljust(max_type_length)} |\n"
tabela_markdown += f"| {'-' * max_var_length} | {'-' * max_type_length} |\n"

for var, tipo in zip(variaveis, tipos):
    tabela_markdown += f"| {var.ljust(max_var_length)} | {tipo.ljust(max_type_length)} |\n"

# Exibir a tabela
print(tabela_markdown)

| Variável         | Tipo         |
| ---------------- | ------------ |
| price            | Quantitativa |
| area             | Quantitativa |
| bedrooms         | Quantitativa |
| bathrooms        | Quantitativa |
| stories          | Quantitativa |
| parking          | Quantitativa |
| mainroad         | Qualitativa  |
| guestroom        | Qualitativa  |
| basement         | Qualitativa  |
| hotwaterheating  | Qualitativa  |
| airconditioning  | Qualitativa  |
| prefarea         | Qualitativa  |
| furnishingstatus | Qualitativa  |